*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    background-color: #06283d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    height: 105px;
    width: 400px;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 28px 32px;
    color: #06283d;
    font-family: "Roboto", sans-serif;
    transition: 0.6s;
}

.container__searchBox{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    height: min-content;
}

.container__searchBox__locationIcon{
    color: #06283d;
    font-size: 30px;
    align-self: center;
}

.container__searchBox__cityName input{
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.container__searchBox__cityName{
    align-self: center;
    cursor: pointer;
}

.container__searchBox__cityName input::placeholder{
    border: none;
    color: #06283d;
    font-weight: 300;
    font-size: 24px;
    text-transform: none;
}

.container__searchBox__searchButton button{
    border: none;
    background-color: #dff6ff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    transition: 0.4s ease;
}

.container__searchBox__searchButton button:hover{
    background-color: #06283d;
    color: #ffffff;
}


.container__searchBox__searchButton{
    align-self: center;
}

.container__notFound{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    text-align: center;
    display: none;
    transition: 0.6s;
}

.container__weatherBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scale: 0;
    opacity: 0;
}

.container__weatherBox h1{
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    display: flex;
}

.container__weatherBox h3{
    font-size: 1.5rem;
}

.container__weatherBox h3{
    text-transform: capitalize;
}

.container__weatherBox span{
    font-size: 1.5rem;
    align-self: flex-start;
}

.container img{
    width: 200px;
}

.container__weatherDetails{
    display: flex;
    width: 100%;
    align-self: flex-end;
    justify-content: space-around;
    scale: 0;
    opacity: 0;
}

.container__weatherDetails i{
    font-size: 26px;
    margin-right: 6px;
}

.container__weatherDetails span{
    font-size: 22px;
    font-weight: 500;
}

.container__weatherDetails p{
    font-size: 14px;
}

.container__fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn{
    to{
        scale: 1;
        opacity: 1;
    }
}